<%- include('header') -%>
<body>
  <h1 id="heading" class="box">About Kupa Company</h1>
  <h2>Well, it's a tiny bit stincky case...</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vero
    dolorem enim quaerat? Odit incidunt nam adipisci exercitationem culpa
    officiis libero fugiat laboriosam dolor veniam eveniet quaerat nemo, cum
    voluptate.
  </p>
</body>

<%- include("footer") -%>
